.sconsign.dblite
build
dist
document.aux
document.fls
document.glg
document.glo
document.gls
document.idx
document.ilg
document.ind
document.ist
document.log
document.pdf
document.synctex.gz
document.toc
entries.aux
entries.tex
fields.aux
*.listing
_minted-document
